h1 {
    text-align: center;
    margin-top: 5%;
    color: white;
    font-weight: bolder;
    font-family: 'Aalto';
    font-size: 60px;
}

#para1 {
    text-align: center;
}

#gif {
    height: 80px;
}

#timer {
    color: white;
    font-family: 'Aalto';
    font-size: 30px;
}